* {
  margin: 0px;
  padding: 0px;    
  box-sizing: border-box;
  font-family: 'Manjari', sans-serif;   
}

/* BODY */
h1 {
  text-align: center;
  padding: 3% 0% 2% 0%;
  font-size: 50px;
}
h2 {
  text-align: center;
  margin-bottom: 2%;    
}
h3 {
  text-align: center;
  font-weight: bold;
  line-height: 30px; 
  margin-bottom: 2%;   
}
p {
  text-align: justify;
  padding: 0% 5%;
  font-size: 22px;
}

/* HEADER */
li {
  text-decoration: none;
  color: white;
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5%   
}
nav {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
  list-style-type: none;  
}
.logo a img {
  width: 50%;  
}
header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: #292c2f;
  width: 100%;
  text-align: left;
  padding: 3% 5%;
  font-size: 18px;  
}

/*FOOTER*/
footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  background-color: #292c2f;
  width: 100%;
  text-align: left;
  padding: 3% 5%;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;  
}
footer .footerIcons a {
  width: 25px;
  height: 25px; 
  border-radius: 2px;
  font-size: 35px;
  color: grey;
  line-height: 35px;  
  text-align: center;  
  line-height: 35px;
  margin-left: 3px; 
}
.footerContact {
  margin-top: 0%;
}
.copyright p {
  color: white;
  font-size: 18px;
  padding: 0%;
}

/* ANIMACIONES ICONOS FOOTER */
.fa-brands:hover {
  transform:scale(1.1); 
  transition:all .25s;  
}

/* BUTTON */
.button {
  grid-area: button;
  display: flex;
  margin-left: 40%;
  justify-content: center;
  width: 20%; 
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1.5% 0%;
  font-size: 18px; 
}

/* ANIMACION BUTTON */
.button:hover {
  transform:scale(1.1);
  transition:all .25s;
}

/* GRID-INDEX */
.mainIndex {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4/auto);
  grid-template-areas:
  "imgIndex imgIndex"
  "encabezado encabezado"
  "textoEncabezado textoEncabezado"
  "button button";
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgIndex {
  grid-area: imgIndex;
  width: 100%;
}
.encabezado {
  grid-area: encabezado;
  width: 100%;
}
.textoEncabezado {
  grid-area: textoEncabezado;
  width: 100%;
}

/* GRID-ABOUT */
.mainAbout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4/auto);
  grid-template-areas:
  "encabezadoAbout encabezadoAbout"
  "imgAbout textoAbout"
  "descriptionAbout videoAbout"
  "button button";
  width: 100%;  
}
.encabezadoAbout {
  grid-area: encabezadoAbout;
  width: 100%;
}
.imgAbout {
  grid-area: imgAbout;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.textoAbout {
  grid-area: textoAbout;
  width: 100%;
  padding-right: 8%;
}
.descriptionAbout {
  grid-area: descriptionAbout;
  width: 100%;
  padding: 20% 0% 8% 8%;
}
.videoAbout {
  grid-area: videoAbout;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8%;
}

/*GRID-SERVICES*/
.mainService {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5/auto);
  grid-template-areas: 
  "encabezadoService encabezadoService"
  "textoEncabezadoService textoEncabezadoService"
  "imgEspejoService textoEspejoService"
  "imgTotemService textoTotemService"
  "button button";
}
.encabezadoService {
  grid-area: encabezadoService;
  width: 100%;
}
.textoEncabezadoService {
  grid-area: textoEncabezadoService;
  width: 100%;
}
.imgEspejoService {
  grid-area: imgEspejoService;
  width: 100%;
  padding: 10% 0% 0% 10%;
}
.textoEspejoService {
  grid-area: textoEspejoService;
  width: 100%;
  padding: 10% 5% 0% 0%;
}
.imgTotemService {
  grid-area: imgTotemService;
  width: 100%;
  padding: 10% 0% 5% 10%;
}
.textoTotemService {
  grid-area: textoTotemService;
  width: 100%;
  padding: 10% 5% 5% 0%;
}

/*GRID-PACKAGES*/
.mainPackage {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "packageEncabezado packageEncabezado"
  "format prints"
  "confeti design";
  width: 100%;
  justify-items: center; 
}
.packageEncabezado {
  grid-area: packageEncabezado;
  width: 100%;}

.format {
  grid-area: format;
  width:70%;    
}
.prints {
  grid-area: prints;
  width: 70%;  
}
.confeti {
  grid-area: confeti;
  width: 70%;    
}
.design {
  grid-area: design;
  width: 70%; 
}
article img {
  width: 100%;
  padding-bottom: 5%;
}
article h3 {
  font-size: 21px;
  text-transform: uppercase;  
}
.confeti,.design {
  margin-top: 4%;
}

/* GRID-CONTACT */
.mainContact {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3/auto);
  grid-template-areas: 
  "encabezadoContact"
  "contactForm"
  "button";  
}
.contactForm {
  text-align: center;
  padding-top: 3%;  
  background-color: lightgray;
  border-bottom: 20px solid lightgray;
}
.form {
  width: 50%;
  padding: 15px;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;  
}
.textarea {
  height: 200px;
  width: 50%;  
}

/* MEDIA QUERIES */
@media (max-width: 768px){
  
  /* HEADER Y FOOTER */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 80%;
    display: flex;
    text-align: center;
    margin: 5% 0%    
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 26px
  }
  h1 {
    font-size: 30px;
    margin: 5% 0%;
  }
  h2 {
    width: 100%;  
    padding: 0% 3%;
  }
  h3 {
    padding: 0% 3%;
  }
  img {
    width: 100%;
  }
  .button {
    width: 40%; 
    font-size: 15px;
    margin: 5% 30% 5% 30%;
  }
  .footerIcons {
    width: 100%;
    text-align: center;
    margin: 5% 0%;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  .copyright p {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

  /* ABOUT */
  .mainAbout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "encabezadoAbout"
    "imgAbout"
    "textoAbout"
    "videoAbout"
    "descriptionAbout"
    "button";
    width: 100%;
  }
  .videoAbout {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .textoAbout {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10% 0%;
    padding:0%
  }
  .descriptionAbout {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0%
  }
  .descriptionAbout p {
    text-align: center;
  }
  
  /* SERVICES */
  .mainService {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "imgEspejoService"
    "textoEspejoService"
    "imgTotemService"
    "textoTotemService";
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .imgEspejoService, 
  .textoEspejoService,
  .imgTotemService, 
  .textoTotemService {
    width: 100%;
    padding: 5% 0% 5% 0%;
  }

  /* PACKAGES */
  .mainPackage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5/auto);
    grid-template-areas:
    "packageEncabezado"
    "format"
    "prints"
    "confeti"
    "design";
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
  }
  .format,.prints,.confeti,.design {
    grid-area: format prints confeti design;
    width: 100%;
    margin-bottom: 5%;
  }

  /* CONTACT */
  .contactForm {
    width: 100%;  
  }
  .form {
    width: 90%;
  }
}