$liColor: white;
$aColor: white;
$headerColor: #292c2f;
$footerColor: #292c2f;
$footerIconsColor: grey;
$copyrightColor: white;
$contactFormColor: lightgray;
$formColor: #f8f8f8;
$borderFormColor: rgba(0, 0, 0, 0.075);
$buttonColor: #4caf50;
$buttonHover: blue;
$insta: #8a3ab9;
$wp: #25d366;
$fb: #3b5998;
$yt: #c4302b;



