
.page-section {
	padding: 1rem 3rem;
	overflow: hidden;
}
.container {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.col-lg-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}
.pack {
	margin-bottom: 3rem;
	text-align: center;
	img {
		width: 21rem;
		height: 21rem;
		border: 0.5rem solid rgba(0, 0, 0, 0.1);
	}
	h4 {
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
}
.mx-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}
.rounded-circle {
	border-radius: 50% !important;
}
@media (max-width: 768px) {
	.col-md-12 {
		width: 100%;
	}
	.page-section {
		padding: 1rem 0;
		overflow: hidden;
	}
	.pack {
		img {
			width: 18rem;
			height: 18rem;
		}
	}
}


