$liColor: white;
$aColor: white;
$headerColor: #292c2f;
$footerColor: #292c2f;
$footerIconsColor: grey;
$copyrightColor: white;
$contactFormColor: lightgray;
$formColor: #f8f8f8;
$borderFormColor: rgba(0, 0, 0, 0.075);
$buttonColor: #4caf50;
