<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SelfieCam PhotoBooth</title>
</head>
<body>
    <header>
        <div>
            <!-- LOGO -->
            <img src="../assets/img/logo.png">
            <!-- BARRA DE NAVEGACION -->
            <nav>                
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="packages.html">Paquetes</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>        
    </header>                 
    </header>                
    <main>
        <div>
            <img src="../assets/img/espejo_gris1.jpg"/>
            <iframe width="560" height="399" src="https://www.youtube.com/embed/lWgqTAQCx5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>SOBRE NOSOTROS</h2>
                <p>Somos lideres en el servicio de alquiler de Tótem Fotográfico y Espejo Mágico Córdoba. Desde el año 2014 brindamos a nuestros clientes una atención que se destaca por la calidad y el compromiso de nuestros productos y servicios operando en el mercado del entretenimiento, atendiendo a todo tipo de clientes y empresas a lo largo y ancho de la República Argentina.
                Nos destacamos por utilizar en todos nuestros servicios cámara fotográfica Canon para la captura de las fotos. No usamos cámara web. Esto te garantiza una imagen digital de alta calidad capturando al detalle todas las expresiones. Una cámara web fue diseñada para grabar video llamadas, no para sacar fotos por lo tanto no congela el movimiento y suelen salir fotos con poca nitidez.<br><br>
                Nuestros servicios son ideales para:<br/>
                BODAS – 15 AÑOS – ANIVERSARIOS – PROMOCIONES – CUMPLEAÑOS – GRADUACIONES – EXPOSICIONES – CONVENCIONES – ¡Y TODO TIPO DE FIESTAS!</p>
        </div>
        <h4><a href="services.html">Consulta por nuestros servicios</a></h4>
    </main>
    <hr>
    <footer>
        <div>
            <nav>                
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="packages.html">Paquetes</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h5>SEGUINOS</h5>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
        <div>
            <p>UBICACION</p>
        </div>

    </footer>
</body>
</html>