<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SelfieCam PhotoBooth</title>
</head>
<body>
    <header>
        <div>
            <!-- LOGO -->
            <img src="../assets/img/logo.png">
            <!-- BARRA DE NAVEGACION -->
            <nav>                
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="packages.html">Paquetes</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>        
    </header>                 
    </header>                
    <main>
        <div>
            <h2>CONTACTANOS</h2>
            <p>Envianos tu consulta y te respondemos a la brevedad</p>
        </div>
        <form action="">
            <label for="name">Nombre</label>
            <input type="text" name="name"><br><br>
            
            <label for="email">Email</label>
            <input type="email" name="email"><br><br>
                    
            <label for="subject">Evento</label>
            <input type="text" name="subject" placeholder="Boda, 15 años, Empresarial, etc"><br><br>
            
            <label for="message">Mensaje</label>
            <textarea name="message" placeholder="Fecha, Lugar, horario"></textarea><br><br>
            
            <input type="submit" value="Enviar">
            
        </form>
    </main>
    <hr>
    <footer>
        <div>
            <nav>                
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="packages.html">Paquetes</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h5>SEGUINOS</h5>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
        <div>
            <p>UBICACION</p>
        </div>

    </footer>
</body>
</html>