<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SelfieCam PhotoBooth</title>
    <link href="../css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7057b9680e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <!-- LOGO -->
            <a href="#"><img src="../assets/img/logo.png" alt="selfiecam photobooth logo" class="logo"></a>
        </div>    
            <!-- BARRA DE NAVEGACION -->
        <nav>                
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">Sobre Nosotros</a></li>
                <li><a href="services.html">Servicios</a></li>
                <li><a href="packages.html">Paquetes</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </nav>                
    </header>
    <!--MAIN  -->
    <main>
        <div>
            <h1>CONTACTANOS</h1>
            <h3>Envianos tu consulta y te respondemos a la brevedad</h3>
        </div>
        <!-- FORMULARIO -->
        <form method="post" action="#" class="contact-form">
                
            <input type="text" name="name" id="name" required="required" class="form" placeholder="Nombre"/>
                
            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email"/>
                
            <input type="number" name="subject" id="subject" required="required" class="form" placeholder="Teléfono"/>
            
            <textarea name="message" id="message" class="form textarea"  placeholder="Mensaje, Boda, 15 años, cumpleaños, evento empresarial, etc"></textarea>
        <div>                    
            <button type="submit" id="submit" name="submit" class="button-form">Enviar</button>
        </div>         
        </form>                
    </main>
    <!-- FOOTER -->
    <footer class="footer-distributed">        
        <div class="footer-right">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-youtube"></i></a>          
        </div>
            <p>SelfieCam Photobooth &copy; 2022</p>
        </div>
    </footer>
</body>
</html>