<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SelfieCam PhotoBooth</title>
</head>
<body>
    <header>
        <div>
            <!-- LOGO -->
            <img src="../assets/img/logo.png">
            <!-- BARRA DE NAVEGACION -->
            <nav>                
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="packages.html">Paquetes</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>        
    </header>                
    <main>
        <section>
            <h2>SERVICIOS</h2>
            <p>SelfieCam PhotoBooth utiliza en todos sus servicios camara profesional Canon para la captura de las imagenes. Las innumerables configuraciones que te permiten hacer estos equipos te garantizan fotos de alta calidad. Sumado a esto tambien utilizamos flash de estudio para la correcta iluminacion, lo cual nos binda nitidez en las imágenes capturadas. En resumen, montamos un pequeño estudio de fotografía en tu fiesta</p>
            <div>
                <article>
                    <h4>ESPEJO MÁGICO</h4>
                    <img src="../assets/img/espejo1.jpg">
                    <div>
                        <a href="contact.html">Solicitar presupuesto</a>
                    </div>
                </article>
                <article>
                    <h4>TOTEM FOTOGRÁFICO</h4>
                    <img src="../assets/img/totem1.jpg">
                    <div>
                        <a href="contact.html">Solicitar presupuesto</a>
                    </div>
                </article>
            </div>
        </section>       
    </main>
    <hr>
    <footer>
        <div>
            <nav>                
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="packages.html">Paquetes</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h5>SEGUINOS</h5>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
        <div>
            <p>UBICACION</p>
        </div>

    </footer>
</body>
</html>